//HEADER

.header {
  font-family: Montserrat, sans-serif;
  background-image: url("../img/header/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  margin: 0 auto;
  overflow: hidden;
  &__nav {
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: $maxWidth;
    margin: 0 auto;
  }
  &__logo {
    justify-self: start;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    &:hover:after {
      color: #fff;
    }
    &:before {
      width: 43px;
      height: 41px;
      content: url("../img/header/logo.png");
    }
    &:hover:before {
      content: url("../img/header/logo-hover.png");
    }
  }
  &__buy-now-button {
    background-color: $mainColor;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 11px 25px;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    border: 1px solid $mainColor;
    &:hover {
      background-color: #fff;
      color: $mainColor;
    }
  }
  &__menu {
    list-style: none;
    &-link {
      text-decoration: none;
      font-family: Montserrat, sans-serif;
      &:hover {
        color: #fff;
      }
    }
  }
  &__fork-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: $maxWidth;
    margin: 0 auto;
    &-header {
      font-weight: bold;
      color: #fff;
      text-align: center;
    }
    &-text {
      color: $mainColor;
      text-align: center;
    }
    &-span {
      color: #848E97;
      text-transform: uppercase;
    }
  }
  &__download {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    &-button {
      background-color: $mainColor;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      color: #fff;
      outline: none;
      cursor: pointer;
      margin: 0 auto;
      transform: translateY(-50%);
      border-radius: 40px;
      border: 2px solid $mainColor;
      &:hover {
        background-color: #fff;
        color: $mainColor;
      }
    }
    &-span {
      transform: translateY(-50%);
      font-size: 14px;
      color: #848E97;
      font-family: Montserrat, sans-serif;
    }
  }
}

@media screen and(max-width: 480px) {
  .header {
    min-width: $minWidth;
    background-size: cover;
    &__nav {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, auto);
      position: relative;
      padding: 0 15px;
      height: 103px;
      background-color: #27262A;
    }
    &__logo {
    }
    &__buy-now-button {
      font-size: 15px;
    }
    &__menu-wrapper {
      overflow: hidden;
      height: 0;
      position: absolute;
      left: 0;
      top: 103px;
      width: 100%;
      transition: height $button-transistion-duration;
      &.menu-is-active {
        height: ($menuItemHeight * 4) + (3*4);
      }
    }
    &__burger {
      width: $button-width;
      height: $button-height;
      background-color: #27262A;
      border: none;
      position: relative;
      display: block;
      outline: none;
      font-size: 0;
      box-sizing: border-box;
      cursor: pointer;
      justify-self: end;
      span {
        display: block;
        position: absolute;
        border-radius: 2px;
        top: ($button-height / 2) - ($bar-thickness / 2);
        left: $button-pad;
        right: $button-pad;
        height: $bar-thickness;
        background: $animx-color;
        &::before,
        &::after {
          position: absolute;
          display: block;
          left: 0;
          width: 100%;
          height: $bar-thickness;
          border-radius: 2px;
          background-color: $animx-color;
          content: "";
        }
        &::before {
          top: -$bar-thickness - $button-bar-space;
          width: 15px;
          left: $button-width - 15px;
        }
        &::after {
          bottom: -$bar-thickness - $button-bar-space;
        }
      }
      &.toggle-hamburger__animx {
        span {
          &::before,
          &::after {
            transition-duration: $button-transistion-duration, $button-transistion-duration;
            transition-delay: $button-transistion-duration, 0s;
          }
          &::before {
            transition-property: top, \transform;
          }
          &::after {
            transition-property: bottom, \transform;
          }
        }
      }
      &.burger-is-active {
        span {
          background: none;
          &::before,
          &::after {
            left: 0;
            width: 100%;
            transition-delay: 0s, $button-transistion-duration;
          }
          &::before {
            top: 0;
            transform: rotate(45deg);
          }
          &::after {
            bottom: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
    &__menu {
      margin: 0 15px;
      &-item {
        background-color: #333333;
        height: $menuItemHeight;
        border-bottom: 3px solid #3B3B3B;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          display: block;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 8px;
          height: 53px;
          background-color: $mainColor;
        }
      }
      &-link {
        color: #fff;
        font-size: 26px;
        padding-left: 35px;
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        &:focus-within {
          color: $mainColor;
        }
        &.link-is-active {
          color: $mainColor;
        }
      }
    }
    &__fork-app {
      padding: 50px 27px 416px;
      &-header {
        font-size: 48px;
        margin-bottom: 19px;
      }
      &-text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 14px;
      }
      &-span {
        font-size: 14px;
        color: #848E97;
      }
    }
    &__download {
      margin-bottom: 70px;
      &-button {
        padding: 11px 25px;
        font-size: 18px;
      }
      &-span {
        transform: translateY(-50%);
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .header {
    background-size: cover;
    &__nav {
      grid-template-rows: auto auto;
      grid-template-columns: repeat(2, auto);
      padding: 22px 20px 18px;
      flex-wrap: wrap;
      background-color: #27262A;
    }
    &__logo {

      &:after {
        content: "forkio";
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        font-weight: bold;
        color: $mainColor;
        margin-left: 17px;
        margin-bottom: 5px;
      }
      &:before {
        content: url("../img/header/logo.png");
      }
    }
    &__buy-now-button {
      font-size: 16px;
      justify-self: end;
      width: 145px;
    }
    &__menu-wrapper {
      justify-self: stretch;
      grid-row: 2;
      grid-column: 1 / 3;
    }
    &__burger {
      display: none;
    }
    &__menu {
      display: flex;
      max-width: 518px;
      justify-content: space-between;
      text-align: center;
      margin: 23px auto 0;
      &-link {
        text-decoration: none;
        color: $mainColor;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
      }
    }
    &__fork-app {
      padding: 68px 15px 470px;
      &-header {
        font-size: 72px;
        margin-bottom: 19px;
      }
      &-text {
        font-size: 24px;
        line-height: 24px;
        margin: 14px auto;
      }
      &-span {
        font-size: 14px;
        color: #848E97;
      }
    }
    &__download {
      margin-bottom: 80px;
      &-button {
        padding: 23px 61px;
        font-size: 21px;
        line-height: 23px;
      }
      &-span {
        transform: translateY(-50%);
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

@media screen and (min-width: 993px) {
  .header {
    &__nav {
      grid-template-rows: auto;
      grid-template-columns: 125px auto 145px;
      align-items: center;
      padding: 30px 90px;
    }
    &__logo {
      grid-column: 1 / 2;
      justify-self: start;
      &:after {
        content: "forkio";
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        font-weight: bold;
        color: $mainColor;
        margin-left: 17px;
        margin-bottom: 5px;
      }
    }
    &__buy-now-button {
      width: 145px;
      font-size: 16px;
      justify-self: end;
      grid-column: 3 / 4;
    }
    &__menu-wrapper {
      justify-self: end;
      grid-column: 2 / 3;
      grid-row: 1;
    }
    &__burger {
      display: none;
    }
    &__menu {
      display: flex;
      max-width: 565px;
      min-width: 565px;
      justify-content: space-evenly;
      text-align: center;
      &-link {
        text-decoration: none;
        color: $mainColor;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
      }
    }
    &__fork-app {
      padding: 68px 0 470px;
      &-header {
        font-size: 72px;
        margin-bottom: 19px;
      }
      &-text {
        font-size: 24px;
        line-height: 24px;
        margin: 14px 84px;
      }
      &-span {
        font-size: 14px;
        color: #848E97;
      }
    }
    &__download {
      margin-bottom: 66px;
      &-button {
        padding: 23px 61px;
        font-size: 21px;
        line-height: 23px;
      }
    }
  }
}


