//PEOPLE TALK

.people-talk {
  background-image: url("../img/section-backgrounds/people__bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: $mainBg;
  min-width: $minWidth;
  box-sizing: border-box;

  &__title {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
  }
  &__container {
    display: grid;
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-text {
        justify-self: flex-start;
        text-align: center;
        font-family: Lato, sans-serif;
        font-style: italic;
        font-weight: bold;
        color: #fff;
      }
    }
  }
  &__description {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #A291A5;
  }
  &__line {
    height: 0;
    color: #645766;
    border: 1px solid #645766;
  }
} //people-talk

@media screen and(max-width: 480px) {
  .people-talk {
    padding: 57px 20px 0;
    &__title {
      font-size: 36px;
      line-height: 48px;
    }
    &__container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, auto);
      grid-row-gap: 45px;
      &-item {
        &-img-container {
          height: 100px;
        }
        &-text {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    &__description {
      padding: 37px 15px 22px;
    }
    &__line {
      max-width: 245px;
      margin: 0 auto;
    }
  } //people-talk
}
@media screen and (min-width: 481px) and (max-width: 992px) {
  .people-talk {
    padding: 86px 20px 0;
    &__title {
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 64px;
    }
    &__container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 45px;
      grid-column-gap: 45px;
      &-item {
        &-img-container {
          height: 100px;
        }
        &-text {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    &__description {
      padding: 68px 28px 20px;
    }
    &__line {
      max-width: 555px;
      margin: 0 auto;
    }
  } //people-talk
}

@media screen and (min-width: 993px) {
  .people-talk {
    padding: 108px 81px 0;
    background-image: linear-gradient(to top, $mainBg 0, transparent 50%), url("../img/section-backgrounds/people__bg.png");
    background-size: cover;
    &__title {
      font-size: 48px;
      line-height: 50px;
      margin-bottom: 60px;
    }
    &__container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-row-gap: 75px;
      grid-column-gap: 81px;
      max-width: $maxWidth;
      margin: 0 auto;
      &-item {
        &-img-container {
          height: 100px;
        }
        &-text {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    &__description {
      padding: 118px 0 18px;
      margin: 0 auto;
      max-width: 887px;
    }
    &__line {
      max-width: 780px;
      margin: 0 auto;
    }
  } //people-talk
}