.pricing {
  @extend %fontFamilyMontserrat;
  padding-top: 15px;
  padding-bottom: 79px;
  background: url("../img/section-backgrounds/pricing__bg.png") #4b3b4e;
  background-size: cover;
  text-align: center;
  color: #fff;
  overflow-x:hidden;

  &__title {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 23px;
  }

  &__item {
    display: inline-block;
    width: 257px;
    padding-bottom: 38px;
    margin-bottom: 14px;
    background-color: rgba(255, 255, 255, .1);
  }

  &__item-name {
    padding-top: 46px;
    padding-bottom: 34px;
    margin-bottom: 32px;
    background-color: rgba(255, 255, 255, .05);
    text-transform: uppercase;
    font-size: 20px;
  }

  &__price {
    font-size: 56px;
    font-weight: 700;
  }

  &__price:before {
    content: '\0024';
  }

  &__price:after {
    content: 'per month';
    display: block;
    margin: 24px 39px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    opacity: .3;
  }

  &__item-desc {
    height: 50px;
    font-size: 16px;
    padding: 0 22px;
    margin-bottom: 68px;
    line-height: 1.2;
  }

  &__item-desc:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    margin: 0 auto 31px;
    background-color: #8d81ac;
  }

  &__item-btn {
    display: inline-block;
    border-radius: 25px;
    padding: 16px 38px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-style: normal;
    line-height: 15px;
    border: 1px solid transparent;
    outline: none;
    color: white;
    background-color: #776b79;
    cursor: pointer;

    &:hover {
      border-color: #8d81ac;
      background-color: #fff;
      color: #8d81ac;
    }
  }

  &__item.active {
    margin: 40px 0;
    background-color: rgba(70, 48, 72, .85);
    transform: scale(1.1);

    .pricing__item-name {
      background-color: rgba(0, 0, 0, .1);
      color: rgba(255, 255, 255, .8);
    }
  }

}

@media screen and (min-width: 481px) {
  .pricing {
    display: flex;
    padding-left: 4vw;
    padding-right: 4vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    &__title {
      width: 100%;
      font-size: 42px;
    }

    &__item {
      width: 38%;
      margin: 0 23px 92px;
    }

    &__item-name {
      font-size: 20px;
    }

    &__item.active {
      transform: scale(1.2);
      margin: 0 48px 92px -2px;
    }
  }
}

@media screen and (min-width: 993px) {

  .pricing {
    justify-content: center;

    &__title {
      padding-top: 80px;
      margin-bottom: 58px;
      font-size: 48px;
    }

    &__item {
      width: 22%;
      margin: 0 7px;
    }

    &__item-name {
      font-size: 20px;
    }

    &__item.active {
      margin: 0 25px;
    }
  }
}