.wrapper-what-you-get {
  background-color: #f4f4f4;
}

.revo-editor {
  overflow-x:hidden;

  &__title {
    @extend %fontFamilyMontserrat;
    text-align: center;
    margin-bottom: 23px;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #635c73;
    line-height: 1.5;
  }

  &__caption {
    @extend %fontFamilyLato;
    padding: 0 15px;
    text-align: center;
    font-size: 14px;
    color: #323232;
  }

  &__actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 34px 0 68px;
  }

  &__actions-item {
    @extend %fontFamilyLato;
    display: inline-block;
    margin: 0 5px 20px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    color: #24292e;
    user-select: none;
  }

  &__actions-btn {
    display: inline-block;
    padding: 3px 10px;
    background-color: #eff3f6;
    border-right: 1px solid #D3D3D3;
    cursor: pointer;
  }

  &__icon {
    vertical-align: -3px;
  }

  &__action-count {
    margin: 0 5px;
  }

  &__img {
    overflow: hidden;

  }
}

.what-you-get {
  @extend %fontFamilyMontserrat;
  padding: 34px 25px 0;
    text-align: center;

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: #8d81ac;
  }

  &__title:before {
    content: '<'
  }

  &__title:after {
    content: '>'
  }

  &__subtitle {
    margin-bottom: 18px;
    font-size: 16px;
    color: #323232;
  }

  &__icon {
    margin: 35px 0 25px;
  }

  &__desc {
    @extend %fontFamilyLato;
    font-size: 14px;
    color: #848e97;
    line-height: 1.3;
  }

  &__img {
    height: 519px;
    object-fit: cover;
  }
}

@media screen and (min-width: 481px) {
  .revo-editor {
    &__title {
      font-size: 34px;
      margin-bottom: 38px;
    }

    &__caption {
      padding: 0 47px;
      font-size: 20px;
      line-height: 1.5;
    }

    &__actions {
      margin: 36px 0 98px;
    }
  }

  .what-you-get {
    padding: 54px 0 23px;
    text-align: center;

    &__title {
      margin-bottom: 60px;
      font-size: 41px;
      text-align: center;
    }

    &__icon-wrapper {
      display: inline-block;
      width: 22%;
      text-align: center;
      vertical-align: top;
    }

    &__icon {
      margin: 0 0 60px;
    }

    &__text {
      text-align: left;
      display: inline-block;
      width: 72%;
    }

    &__img-wrapper {
      height: initial;
      margin: 0;
      text-align: right;
    }
  }
}

@media screen and (min-width: 993px) {

  .revo-editor {
    &__title {
      font-size: 41px;
    }

    &__caption {
      font-size: 23px;
    }
  }

  .what-you-get {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 48% 52%;
    grid-auto-rows: min-content;
    padding-top: 98px;
    margin: 0 auto;

    &__title {
      grid-column: 2 / 3;
      text-align: left;
      margin-left: 21px;
      margin-bottom: 29px;
      font-size: 38px;
    }

    &__items {
      grid-row: 1 / 3;
      margin: 0 25px;
    }

    &__icon-wrapper {
      width: 36%;
    }

    &__text {
      width: 62%;
      margin-bottom: 10px;
    }

  }
}