//SIZES
$minWidth:320px;
$maxWidth:1200px;
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

$mainColor: #8D81AC;
$mainBg: #4b3b4e;

//BURGER BUTTON
$button-height: 43px;
$button-width: 26px;
$bar-thickness: 3px;
$button-pad: 0;
$button-bar-space: 6px;
$button-transistion-duration: 0.3s;
$animx-color: #fff;

//MENU
$menuItemHeight: 88px;