@import "variables";
@import "mixins";
@import "reset";

@import "sections/sections";
@import "components/components";

body{
  overflow-x: hidden;
}

%fontFamilyLato{
  font-family: Lato,sans-serif;
}

%fontFamilyMontserrat{
  font-family: Montserrat,sans-serif;
}

.container{
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

